body {
  padding-top: 50px;
}

.mynav div.container{
  background-color: #e3f2fd;
}

.container.main_page{
  text-align: center;
  margin-top: 2.0em;
}

/* Group Page */
.side-nav{
  position:fixed;
  z-index:1;
  background-color: white;
  padding: 2em;
}


@media (min-width: 768px){
.col-sm-10.sub-list {
    margin-top: 17em;
    margin-left:0;
  }
}

@media (min-width: 992px){
.col-md-6.sub-list {
    margin-top: 4em;
    margin-left:40%;
  }
}
