body {
  padding-top: 70px;
}

.mynav div.container{
  background-color: #e3f2fd;
}

.container.main_page{
  text-align: center;
  margin-top: 2.0em;
}

/* Group Page */
.side-nav{
  position:fixed
}

.sub-list{
  margin-left:40%
}
