body {
  padding-top: 45px;
}

.mynav div.container{
  background-color: #e3f2fd;
}

.container.form{
  padding:1.5em;
}

.container.main_page{
  text-align: center;
  margin-top: 2.0em;
}


.group-side-nav{
  position:fixed;
  z-index:1;
  background-color: white;
  padding: 2em;
  margin-left: 1em;
}

.group-sub-list{
  margin-top:4em;
  margin-left:40%;
}

.side-nav{
  position:fixed;
  z-index:1;
  background-color: white;
  padding: 2em;
}

.icon-bar{
  background-color:#337ab7;
}

form#postFormInGroup {
  padding-top:1.5em;
}
form#postFormInGroup textarea{
  border: 1px solid grey;
  width: 100%;
  height: 6em;
}


@media (min-width: 250px){
  .sub-list {
      margin-top: 21em;
      margin-left:0;
  }
  .side-nav{
    font-size: 1.0em;
    width:100%;
    padding-top:0em;
    padding-bottom:0em;
  }
  .side-nav h1 {
    font-size: 1.4em;
  }
  .side-nav h2 {
    font-size: 1.2em;
  }
  a.btn.btn-lg{
    font-size:0.5em;
  }

  /* Group page */
  .group-side-nav{
    font-size: 1.0em;
    width:100%;
    padding-top:0em;
    padding-bottom:0em;
  }

  .group-side-nav h2 {
    font-size: 1.2em;
  }

  .group-sub-list{
    margin-left:0em;
    margin-top:14em;
  }
}


@media (min-width: 992px){
  form#postFormInGroup {
    padding-top:1.5em;
  }
  form#postFormInGroup textarea{
    border: 1px solid grey;
    width: 100%;
    height: 3em;
  }

  .side-nav{
    padding-top:1em;
    padding-bottom:1em;
    font-size: 2.0em;
  }
  .side-nav h1 {
    font-size: 1.0em;
  }
  .side-nav h2 {
    font-size: 1.0em;
  }

  .col-md-12.sub-list {
      margin-top: 17em;
  }
  a.btn.btn-lg{
    font-size:0.7em;
  }

  /* Group page */
  .group-side-nav{
    font-size: 1.0em;
    margin-top:4em;
    width:30%;
    max-width:360px;
    padding-top:0em;
    padding-bottom:0em;
  }

  .group-side-nav h2 {
    font-size: 2.0em;
  }

  .group-sub-list{
    margin-top:4em;
    margin-left:40%;
  }
}
